<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
	<add name="DefaultConnection" connectionString="data source=.;initial catalog=PushAll;integrated security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	<add name="PushAllEntities" connectionString="metadata=res://*/Data.DataModel.csdl|res://*/Data.DataModel.ssdl|res://*/Data.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=PushAll;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
