@{
    ViewBag.Title = "Неудачаная аутентификация";
}

<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3 class="text-danger">Неудачаная аутентификация, попробуйте @Html.ActionLink("еще раз", "Index", "Home").</h3>
</hgroup>
